[Unit]
Description=HivesService
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/home/pi/hives/env/bin/python /home/pi/hives/hives.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hives
User=spider

[Install]
WantedBy=multi-user.target
